@page "/courses"

@using GestionaleFitstic.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
@inject IJSRuntime JSRuntime
<!--TABLE-->
<h1>Corsi</h1>
<a href="/coursedetail" class="btn btn-primary">Nuovo corso</a>

@if (courses == null)
{
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Anno scolastico</th>
                <th>Inizio</th>
                <th>Fine</th>
                <th>Sede</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses)
            {
                <tr>
                    <td>@course.Name</td>
                    <td>@course.StartDate.ToString("yyyy") - @course.EndDate.ToString("yy")</td>
                    <td>@course.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@course.EndDate.ToString("dd/MM/yyyy")</td>
                    <td>@course.Location</td>
                    <td><button class="btn btn-danger" @onclick="@(() => DeleteCourse(course))">Elimina</button></td>
                    <td><a class="btn btn-warning" href="/coursedetail/@course.Id">Modifica</a></td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private Course[] courses;
    string message = "Stai eliminando un corso, sei sicuro?";

    protected override async Task OnInitializedAsync()
    {
        courses = await db.Courses
            .OrderBy(x => x.Name)
            .ToArrayAsync();
    }

    private async Task DeleteCourse(Course c)
    {
        bool resultY = await ConfirmDelete();
        if (resultY)
        {
            db.Courses.Remove(c);
            db.SaveChanges();
            courses = db.Courses
                .OrderBy(x => x.Name)
                .ToArray();
            StateHasChanged();
        }
    }

    private async Task<bool> ConfirmDelete()
    {
        bool result = await JSRuntime.InvokeAsync<bool>("confirm", new[] { message });
        return result;
    }
}
