@page "/students"

@using GestionaleFitstic.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db

<!--TABLE-->
<h1>Partecipanti al corso</h1>
<a href="/studentdetail" class="btn btn-primary">Inserisci</a>

@if (students == null)
{
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Data di nascita</th>
                <th>Indirizzo</th>
                <th>Città</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Diploma</th>
                <th>Diplomato nel</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                    <td>@student.BirthDate.ToString("dd/MM/yyyy")</td>
                    <td>@student.Address</td>
                    <td>@student.City</td>
                    <td>@student.Email</td>
                    <td>@student.PhoneNumber</td>
                    <td>@student.DiplomaType</td>
                    <td>@student.DiplomaYear</td>
                    <td><button class="btn btn-danger" @onclick="@(() => DeleteStudent(student))">Elimina</button></td>
                    <td><a class="btn btn-warning" href="/studentdetail/@student.Id">Modifica</a></td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private Student[] students;   

    protected override async Task OnInitializedAsync()
    {
        students = await db.Students
            .ToArrayAsync();
    }

    private void DeleteStudent(Student s)
    {
        db.Students.Remove(s);
        db.SaveChanges();
        students = db.Students
            .ToArray();
        StateHasChanged();
    }

}
