@page
@model RegisterConfirmationModel
@inject GestionaleFitstic.Services.EmailSender es
@{
    ViewData["Title"] = "Benvenuto nel GestionaleFitstic!!!";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        await es.SendEmailAsync(@Model.Email, "Conferma Registrazione", "Benvenuto nel GestionaleFitstic!! Clicca sul link per completare la registrazione: " + @Model.EmailConfirmationUrl);
        <body style="background-image: url(https://storepro.io/wp-content/uploads/2019/01/woocommerce-email-marketing-services-770x400.png);
                 background-repeat: no-repeat; background-position: center; background-size: 80%">
            <br />
            <br />
            <div>                
                <p><b>Ciao @Model.Email</b></p>
                <p><b>Ti abbiamo inviato un link!</b></p>
                <p><b>Per favore controlla la tua casella di posta per completare la registrazione</b></p>
            </div>
        </body>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}


